<!-- ./views/404.handlebars -->

<div class="container">
  <h1 class="text-center m-5">網址已失效</h1>

  <div class="row">
    <div class="col-md-6 m-auto text-center">
      <div class="mb-3">請回首頁重新操作</div>
      <a href="{{{baseUrl}}}">{{{baseUrl}}}</a>
    </div>
  </div>
</div>